.gallery {
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  /* height: 100vh; */
}

.gallery h2 {
  font-size: 2rem;
  color: #b22222;
  margin-bottom: 20px;
}

.carousel-slide img {
  width: 600px; /* Fixed width */
  height: 400px; /* Fixed height */
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.carousel-slide img:hover {
  transform: scale(1.05);
}

/* Styling the arrows */
.custom-arrow {
  font-size: 30px;
  color: #b22222;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s;
}

.custom-arrow:hover {
  color: #ff6347;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-arrow.next {
  right: 15px;
}

.custom-arrow.prev {
  left: 15px;
}

.slick-prev:before,
.slick-next:before {
  display: none; /* Hide default arrows */
}
